table {      
    width: 85%;
  }
  .liste_data{
    padding-top: 8%;
    padding-left: 4%;
    position: relative;
  
  }
  
  th{
    color: #1f3249;
    font-weight: bold;
    background-color: #dce9f8;
  }
  