.tittleModalDel{
    font-size: medium;
    font-weight: bold;
    color: #d84621;
}
.spacer {
    flex: 1 1 auto;
  }
  .button-action{
    color:#1f3249;
    border: #1f3249;;
    background-color: white;
    FONT-SIZE: large;
}
.button-annuler{
    color: #d84621;
    border: #d84621;;
    background-color: white;
    FONT-SIZE: large;
}